.home_top{
  background-color: #e4f1f4;
  width: 100%;
  height: 100%;
}

.home{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  padding: 25px 0 25px;
}

.home_main{
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px #696969;
  background-color: white;
  box-sizing: border-box;
}

.homes_logo{
  text-align: center;
  font-size: 60px;
  color: #11895c;
  
}

.sub-logo{
  text-align: center;
  margin-bottom: 50px;
  color: #6ccc90;
  font-weight: bold;
}

.concept{
  text-align: center;
  color: #6ccc90;
}

.concept_under{
  margin-top: 50px;
  text-align: center;
  color: #6ccc90;
}

.line-acount{
  text-align: center;
  font-size: 30px;
  color: #548c5c;
}

.home-content{
  padding-left: 50px;
  padding-top: 10px;
  color: #6ccc90;
}