      <% if current_user.favorited_by?(diary.id) %>
        <td><%= link_to 'â¤ï¸', destroy_favorite_path(diary.id), method: :DELETE, remote: true, class: "favorite" %> <%= diary.favorites.count %></td>
      <% else %>
        <td><%= link_to 'ðŸ¤', create_favorite_path(diary.id), method: :POST, remote: true, class: "favorite" %> <%= diary.favorites.count %></td>
      <% end %>