<div class="sign_in_top">
  <div class="user">
    <div class="user_main">
      <div class="content">お疲れ様でした。<br>下記のボタンでログインしていただき、ユーザー登録完了となります。</div>
      <div class="line-button-area">
        <%= link_to "ログイン", user_line_omniauth_authorize_path, method: :post, class: "line-button"%>
      </div>
    </div>
  </div>
</div>
