<%= render partial:"diaries/header"%>
<div class="home_top">
  <div class="home">
    <div class="home_main">
      <div class="homes_logo">Thread</div>
      <div class="sub-logo">見守りアプリ</div>
      <div class="concept">
      一人の生活に不安を感じる<br>
      自分の身に何かあったときに守りたい命がある
      </div>
      <div class="concept_under">
      あなたと繋がる一つの糸
      </div>
    </div>
    <div class="home_main">
      <div class="line-acount">概要</div>
      <div class="content">
        ・公式アカウントから毎日通知が届く<br>
        ・日記が管理できる
      </div>
    </div>
    <div class="home_main">
      <div class="line-acount">注意事項</div>
      <div class="content">
      この機能は原則LINEアカウントでログインしていただきます。<br>
      ヘッダーの新規登録からLINEログインをして下さい。<br>
      LINEログイン後、QRコードが表示されるページに遷移しますので、<br>
      必ず公式アカウントを友だち登録して下さい<br>
      （友達登録しないと通知が届きません）
    </div>
  </div>
</div>


