<div class="top">
  <div class="left">
    <div class="logo">Thread</div>
    <div class="sub-logo">見守りアプリ</div>
    <div class="concept">
    一人の生活に不安を感じる<br>
    自分の身に何かあったときに守りたい命がある
    </div>
    <div class="concept_under">
    あなたと繋がる一つの糸
    </div>
  </div>
  <div class="right">
  <div class="line-acount">LINE公式アカウント</div>

  <div class="line-acount-sub">QRコードを読み込み、友達登録をしてください</div>
  <div class="QRcode"><img src="https://qr-official.line.me/sid/M/259oxrtr.png?shortenUrl=true"></div>
 <% if user_signed_in?%>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "新規登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
  </div>
</div>

