
/* indexページ */


.diary_logo{
  text-align: center;
  font-size: 60px;
  color: #11895c;
}

.diary_sub_logo{
  text-align: center;
  color: #6ccc90;
  font-weight: bold;
  padding-bottom: 10px;
}

.index{
  height: 100vh;
}
.diary_index{
  background-color: #e4f1f4;
  width: 100%;
  height: 100%;
}
.diary_main{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  padding: 25px 0 25px;
}
.diary_list{
  height: 150px;
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px #696969;
  background-color: white;
  box-sizing: border-box;
}

.date_nickname{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title{
  border-bottom: 2px solid #e4f1f4;
  margin-bottom: 5px;
  font-size: 18px;
  color:#696969;
  font-family: "游ゴシック", "YuGothic";
}

.show_button{
  text-decoration: none;
  font-weight: 400;
  font-family: "游ゴシック", "YuGothic";
  color:#696969;
}

.date{
  font-size: 13px;
}

.content{
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.nickname{

}



/* newページ */

.diary_new_top{
  background-color: #e4f1f4;
  width: 100%;
}

.new_diary{
  font-family: "游ゴシック", "YuGothic";
}

.diary{
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px #696969;
  background-color: white;
  box-sizing: border-box;
}

/* showページ */

.show{
  height: 100vh;
}

.diary_show{
  background-color: #e4f1f4;
  width: 100%;
  height: 100%;
}

.diary_main{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  padding: 25px 0 25px;
}

.show_list{
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px #696969;
  background-color: white;
  box-sizing: border-box;
}

.show_content{

}

.destroy_edit_button{
  display: flex;
  justify-content: right;
}
.destroy_button{
  text-decoration: none;
  font-weight: 400;
  font-family: "游ゴシック", "YuGothic";
  color:#696969;
  margin-left: 20px;
}
.edit_button{
  text-decoration: none;
  font-weight: 400;
  font-family: "游ゴシック", "YuGothic";
  color:#696969;
  margin-left: 20px;
}
